@import "https://fonts.googleapis.com/css2?family=Domine&display=swap";

$font: 'Domine', serif;
$bg-color: #fde8d0;
$primary: #eebba8;
$secondary: #a37575;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  background-color: $bg-color;
}

h1 {
  margin: 50px auto 30px;
  text-align: center;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  border: 1px solid $primary;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
  position: relative;
}

.faq-text {
  display: none;
}

.faq-toggle {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  cursor: pointer;

  .fa-circle-xmark {
    display: none;
  }
}

.faq.active{

  background-color: $primary;
  border-color: $secondary;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);

  .faq-text {
    display: block;
    margin-top: 20px;
  }

  .fa-angle-down {
    display: none;
  }

  .fa-circle-xmark {
    display: block;
    opacity: 0.6;
  }

}

