$opaque-bg: rgba(28, 28, 28, 0.5);
$primary-color: #FF4500;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.bg {
  background: url("../images/space.jpg") no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-circle {
  background-color: $opaque-bg;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px double $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  font-size: 3rem;
  color: $primary-color;
}