$bg-color: #7daabb;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.empty {
  background-color: #fff;
  height: 150px;
  width: 150px;
  border: 3px solid #000;
  margin: 15px;
  position: relative;

  .fill {
    height: 144px;
    width: 144px;
    background-image: url("https://source.unsplash.com/random/150x150");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .hold {
    border: 4px ridge #1f1f1f;
  }
}

.hovered {
  border-color: #fff;
  border: 3px dashed #000;
  background-color: $bg-color;
}

@media (max-width: 768.98px) {

  body {
    flex-direction: column;
  }
}