@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap";

$font: 'Josefin Sans', sans-serif;
$bg-pri: #1f3134;
$bg-sec: #324143;
$text-color: #f2ffe6;
$rating-high: #38a1db;
$rating-middle: #f08f18;
$rating-low: #8f2c2a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $bg-pri;
  color: $text-color;
}

header {
  background-color: $bg-sec;
  padding: 1rem;
  display: flex;
  justify-content: end;
}

.search {
  background-color: $bg-sec;
  padding: 0.6rem 1rem;
  border-radius: 50px;
  border: 2px solid $bg-pri;
  font-size: 1rem;

  &::placeholder {
    color: #5b6568;
    font-size: 1rem;
  }

  &:focus {
    outline: none;
    background-color: $bg-pri;
    caret-color: $text-color;
  }
}