

$bg-pri: #1f3134;
$bg-sec: #324143;
$text-color: #f2ffe6;
$rating-high: #38a1db;
$rating-low: #f08f18;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-pri;
  color: $text-color;
}

header {
  background-color: $bg-sec;
}