@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap";

$bg-color: #583822;
$form-bg: #003300;
$form-text: #f6ad49;
$secondary-color: #fbd26b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: $bg-color;
}

.container {
  background-color: $form-bg;
  color: $form-text;
  padding: 20px 40px;
  border-radius: 5px;

  h1 {
    text-align: center;
    margin: 20px 0 30px;
  }

  a {
    text-decoration: none;
    color: #f2a0a1;
  }
}

.btn {
   cursor: pointer;
   display: inline-block;
   width: 100%;
   border: none;
   padding: 15px;
   background-color: $secondary-color;
   border-radius: 4px;
   font-size: 1rem;

   &:hover {
    background-color: $form-text;
   }

   &:active {
    background-color: $form-text;
    transform: scale(0.98);
   }

   &:focus {
    outline: none;
   }
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  // width: 300px;

  input {
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    padding: 15px 0;
    color: $secondary-color;
    border: none;
    border-bottom: 3px solid $form-text;

    &:focus,
    &:valid {
      outline: none;
      border-bottom-color: $secondary-color;
    }
  }

  label {
    position: absolute;
    left: 0;
    top: 15px;
    pointer-events: none;

    span {
      display: inline-block;
      font-size: 18px;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

input:focus + label span,
input:valid + label span {
  color: $secondary-color;
  transform: translateY(-30px);
}