@import "https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap";

$font: 'Josefin Slab', serif;
$bg-color: #e8d3d1;
$bg-image-color: #9e8b8e;
$nav-color: #513743;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  background-image: linear-gradient(
    to bottom,
    $bg-color 0%,
    $bg-color 50%,
    $bg-image-color 50%,
    $bg-image-color 100%
  );
  font-family: $font;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

nav {
  background-color: $nav-color;
  color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  font-size: 1.2rem;

  ul {
    display: flex;
    list-style: none;
    width: 0;
    padding: 0;
    transition: width 0.6s linear;

    li {
      transform: rotate(0deg);
      opacity: 0;
      transition: transform 0.6s linear, opacity 0,6s linear;
    }

    a {
      margin: 0 10px;
    }
  }
  
  .icon {
    background-color: $nav-color;
    position: relative;
    height: 30px;
    width: 30px;
    padding: 0;
    cursor: pointer;
    border: none;

    .line {
      background-color: $bg-image-color;
      height: 2px;
      width: 20px;
      position: absolute;
      top: 10px;
      left: 5px;
      transition: transform 0.6s linear;
    }

    .line2 {
      top: auto;
      bottom: 10px;
    }

    &:focus {
      outline: none;
    }
  }
}

nav.active {
  width: 380px;

  ul {
    width: 100%;

    li {
      opacity: 1;
      transform: rotateY(360deg);
    }
  }

  .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }

  .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }
}