@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

$heart-color: #ba2636;
$text-color: #212427;

@mixin font {
  font-family: "Cormorant", serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.heading {
  @include font;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;

  small {
    font-size: 1.2rem;
    font-weight: 500;
  }

  i {
    color: $heart-color;
  }
}

.heartMe {
  height: 440px;
  width: 300px;
  background: url("../images/interior.jpg") no-repeat center center/cover;
  margin: 1.5rem auto;

}