@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

$font: 'Plus Jakarta Sans', sans-serif;
$bg-color: #6a1917;
$secondary-color: #e9bc00;
// $text-color: ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $font;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

input {
  background-color: $secondary-color;
  font-family: inherit;
  color: $bg-color;
  width: 100%;
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 8px;
  caret-color: $bg-color;
  font-size: 1.2rem;

  &::placeholder {
    color: $bg-color;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  }
}

.card {
  max-width: 800px;
  background-color: $secondary-color;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid $bg-color;
  height: 150px;
  width: 150px;
}

.user-info {
  color: $bg-color;
  margin-left: 2rem;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 400px;

    li {
      display: flex;
      align-items: center;

      strong {
        font-size: 1rem;
        margin-left: 0.5rem;
      }
    }
  }
}

.repo {
  text-decoration: none;
  background-color: $bg-color;
  color: $secondary-color;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
  display: inline-block;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}