@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

$font: 'Plus Jakarta Sans', sans-serif;
$bg-color: #6a1917;
$secondary-color: #e9bc00;
// $text-color: ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $bg-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

input {
  background-color: $secondary-color;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  caret-color: $bg-color;
  font-size: 1.2rem;
  width: 60vw;

  &::placeholder {
    color: $bg-color;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  }
}