$bg-color: #e4d2d8;
$border-color: #e2b0c1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  border: 8px ridge $border-color;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.toolbox {
  width: 916px;
  background-color: $border-color;
  border: 8px ridge $border-color;
  border-top: none;
  border-radius: 0 0 5px 5px;
}