@import "https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap";

$font: 'Chakra Petch', sans-serif;
$sec-needle: #da536e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

:root {
  --primary-color: #eae1cf;
  --secondary-color: #24140e;
}

html {
  transition: all 0.5s ease-in;
  background-color: var(--primary-color);
  color: var(--secondary-color);

  &.dark {
    --primary-color: #24140e;
    --secondary-color: #eae1cf;

    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.toggle {
  cursor: pointer;
  position: absolute;
  top: 100px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 50px;
  font-weight: bold;
}