@import "https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap";

$font: 'Chakra Petch', sans-serif;
$dark: #24140e;
$light: #eae1cf;
$sec-needle: #da536e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}