@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap";

$font: 'Roboto Mono', monospace;
$bg-color: #2ca9e1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: $font;
}

.counter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 30px 50px 60px;

  i {
    font-size: 3rem;
  }

  .counter {
    font-size: 4rem;
    margin-top: 10px;
  }
}

@media (max-width: 650px) {
  body {
    flex-direction: column;
  }
}