@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Dancing+Script&family=M+PLUS+Rounded+1c&family=Pixelify+Sans&display=swap');

$background-color: #e6eae3;
$basic-font-color: #1c1c1c;
$primary-color: #726d40;
$secondary-color: #dcd3b2;
$pop-color: #c3d825;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dancing Script', cursive;
  background-color: $pop-color;
  overflow-x: hidden;
  color: $basic-font-color;
  font-size: 1.6rem;
}

.container {
  background-color: $background-color;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 60px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: $primary-color;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;

  button {
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
    border: none;
    background: transparent;
    font-size: 30px;
    color: $secondary-color;
  }

  button:focus {
    outline: none;
  }

  button#open {
    left: 60%;
  }

  button#close {
    top: 60%;
    left: 40%;
    transform: rotate(90deg);
    transform-origin: top left;
  }
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.content {
  max-width: 900px;
  margin: 0 auto;

  img {
    max-width: 90%;
    margin-top: 15px;
    border: 9px solid $basic-font-color;
  }

  small {
    color: $primary-color;
    font-style: italic;
  }

  p {
    margin: 20px 0;
    line-height: 1.2;
  }
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;

  ul {
    list-style: none;
    padding-left: 30px;

    li {
      font-weight: bold;
      font-size: 1.7rem;
      margin: 35px 0;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in;

      i {
        margin-right: 15px;
      }

      &:nth-child(2) {
        margin-left: 15px;
        transform: translateX(-150%);
      }

      &:nth-child(3) {
        margin-left: 30px;
        transform: translateX(-200%);
      }

    }

  }
  
  a {
    text-decoration: none;
    color: $basic-font-color;
  }

  a:hover {
    color: $primary-color;
    zoom: 1.2;
  }
}