@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$font: 'Quicksand', sans-serif;
$button-color: #E8D9D4;
$arrow-color: #E3CFC3;
$text-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

