@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$font: 'Quicksand', sans-serif;
$button-color: #eae5e3;
$arrow-color: #b3afad;
$arrow-color-hover: #535251;
$text-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  height: 100vh;
}

.slider-container {
  height: 100vh;
  width: 100wh;
  position: relative;
  overflow: hidden;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $text-color;
  }

  h1 {
    font-size: 3.5rem;
    margin: -30px 0 10px;
  }

  p {
    font-size: 1.8rem;
  }
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;

  div {
    height: 100%;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
  }
}

button {
  background-color: $button-color;
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: $arrow-color;

  &:hover {
    color: $arrow-color-hover;
  }
}

.down-button {
  transform: translate(-100%);
  border-radius: 5px 0 0 5px ;
}

.up-button {
  transform: translateY(-100%);
  border-radius: 0 5px 5px 0;
}