@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

$font: 'Cormorant Garamond', serif;
$bg-color: #dcd6d9;
$card-color: #9188a2;
$text-color: #f8fbf8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $font;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}
.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  color: $text-color;
}

.card-header {
  height: 200px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.card-content {
  background-color: $card-color;
  padding: 1.5rem;
  font-size: 1.2rem;
}

.card-excerpt {
  color: #fff;
  margin: 10px 0 20px;
}

.author {
  margin: 20px 0 0;
  display: flex;

  .profile-image {
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 50px;
  }

  .author-info {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 15px;
    width: 100px;

    small {
      margin-top: 5px;
    }
  }
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );

  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}